.status {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.container {
  max-width: 800px;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
}

span {
  color: red;
}

.title {
  width: 500px;
}

.blog {
  width: 550px;
  height: 300px;
  white-space: pre-line;
}

.post {
  background-color: #cbd1da;
  border: 2px solid black;
  padding: 5px;
}

.actions,
.post-title,
.comment-title {
  display: inline-block;
}

.comment-title {
  color: green;
}

.post-title,
.comment-title {
  margin: 0;
}

.author-date {
  float: right;
}

.boundary {
  background-color: black;
  border: none;
  height: 2px;
}

.comment {
  width: 550px;
  height: 200px;
  white-space: pre-line;
}

button > a {
  text-decoration: None !important;
  color: black !important;
}

button:hover,
a:hover {
  font-weight: bold;
}
