{% extends "home.html" %}

{% block ten_blogs %}
{% if home_page %}
<div class="row">
  <h3>Here are the 10 most recent posts from all users:</h3>
</div>
<br>
{% endif %}
{% for post in posts %}
  <div class="post">
  <div class="post-title"><h3>{{ post.title }}</h3></div>
  <div class="post-title author-date">{{ post.author + ", " + post.last_modified.strftime("%b/%d/%Y %H:%M:%S") }}</div>
  <br>
  {% if cur_user == post.author %}
    <a href="/edit/{{post.key.id()}}">Edit</a>
    <a href="/delete/{{post.key.id()}}">Delete</a>
  {% endif %}
  <hr>
  {{ post.blog.replace('\n', '<br>') | safe }}
</div>
<br><br>
{% endfor %}
{% endblock %}
