<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Multi User Blog</title>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>
<body>
  <div class="grid">
    <div class="row">
      <h1>Multi User Blog</h1> 
    </div>
    <div class="row">
      {% set status = 'guest' %}
      {% if cur_user %}
        {% set status = 'logged in as ' + cur_user %}
      {% endif %}
      <p>Status: {{ status }}</p>
    </div>
    <div class="row">
      <div class="col-ref">
        <h3>General Links:</h3>
        <ul>
          <li><a href="/">Home</a></li>
          {% if status == "guest" %}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          {% else %}
            <li><a href="/deregister">Deregister</a></li>
            <li><a href="/logout">Logout</a></li>
          {% endif %}
          <li><a href="/searchposts">Search posts</a></li>
          <li><a href="/viewallposts">View all posts</a></li>
        </ul>
      </div>
      <div class="col-ref">
        <h3>User Actions:</h3>
        <ul>
          <li><a href="/newpost">New post</a></li>
          <li><a href="/viewallmyposts">View all my posts</a></li>
          <li><a href="/deleteallmyposts">Delete all my posts</a></li>
        </ul>
      </div>
    </div>
    <br>

    {% block content %}
    {% endblock %}

    {% block ten_blogs %}
    {% endblock %}
  </div>
</body>
</html>
