{% extends "home.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12 text-center">
    {% if like %}
    <div class="row">
      <h2>Sorry, you are the author of this post and not allowed to like your own post.</h2>
    </div>
    {% elif comment %}
      <h2>Sorry, you are not the author of this comment and don't have permission to do so.</h2>
    {% else %}
    <div class="row">
      <h2>Sorry, you are not the author of this post and don't have permission to do so.</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
